@model IEnumerable<CarHireDataAccess.Models.Locations.StoreLocation>

@if (!Model.Any())
{
    <h4 style="text-align: center"> No locations found! </h4>
}
else
{
    if (Model.Count() == 1)
    {
        <h4 style="text-align: center"> @Model.Count() Location near you </h4>
    }
    else
    {
        <h4 style="text-align: center"> @Model.Count() Locations near you </h4>
    }

    var counter = 1;

    foreach (var location in Model)
    {
        <div class="panel panel-primary locationPanel">
            <div class="panel-heading locationPanelHeading">
                <h3 class="panel-title">
                    @counter) @location.StoreName
                </h3>
            </div>
            <div class="panel-body" style="padding-bottom: 0px">

                <div class="row">
                    <div class="col-md-9">
                        <p>
                            @Html.Raw(@location.Address.HtmlFormattedAddress)
                        </p>
                        <p>
                            @location.TelephoneNumber
                        </p>
                    </div>
                    <div class="col-md-3">
                        <button data-bind="click:showLocationDetails.bind($data,'@location.LocationId')">Details</button>


                        @*javascript doesn't exist in the partial, see Locations\Index.cshtml*@
                        @*<a href="#" onclick="makeStoreSelection('@location.LocationId')">Select</a>*@

                        <button data-bind="click:selectLocation.bind($data,'@location.LocationId')">Select</button>

                    </div>
                </div>
            </div>
        </div>

        counter++;
    }
}

    <style>
        .locationPanel {
            padding-bottom: 0px;
        }

        .locationPanelHeading {
            background-color: green !important;
            background-image: none;
            color: white;
        }
    </style>