
@model CarHire.ViewModels.Account.RegisterViewModel

<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">

<div class="well">
    <h1>Sign Up</h1>
    <h3>Great! We just need a few details...</h3>
    <hr />

    @*<div class="alert alert-warning alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>*@

    @Html.ValidationSummary("", new { @class = "text-danger" })


    @using (Html.BeginForm("Register", "UserAccount", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()

        <div id="accordion">
            <h3 class="panel-title PanelHeader">Personal Details</h3>
            <div>
                <div class="form-group">
                    <div class="col-md-5">
                        @Html.LabelFor(m => m.FirstName, new { @class = " control-label" }) @*col-md-2*@

                        <div class="input-group">
                            <span class="input-group-addon" id="user1"><span class="glyphicon glyphicon-user"></span></span>
                            @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control", @placeholder = "First Name", @ariaDescribedBy = "user1" })
                        </div>
                    </div>

                    <div class="col-md-5">
                        @Html.LabelFor(m => m.LastName, new { @class = " control-label" })

                        <div class="input-group">
                            <span class="input-group-addon" id="user2"><span class="glyphicon glyphicon-user"></span></span>
                            @Html.TextBoxFor(m => m.LastName, new { @class = "form-control", @placeholder = "Last Name", @ariaDescribedBy = "user2" })
                        </div>
                    </div>

                    <div class="col-md-2">
                        @Html.LabelFor(m => m.Age, new { @class = " control-label" })

                        <div class="input-group">
                            <span class="input-group-addon" id="user3"><span class="glyphicon glyphicon-user"></span></span>
                            @Html.TextBoxFor(m => m.Age, new { @class = "form-control", @placeholder = "Age", @ariaDescribedBy = "user3" })
                        </div>
                    </div>
                </div>
            </div>

            <h3 class="panel-title PanelHeader">Contact Details</h3>
            <div>
                <div class="form-group">

                    <div class="col-md-6">
                        @Html.LabelFor(m => m.Email, new { @class = " control-label" })

                        <div class="input-group">
                            <span class="input-group-addon" id="envelope"><span class="glyphicon glyphicon-envelope"></span></span>
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "example@gmail.com", @ariaDescribedBy = "envelope" })
                        </div>
                    </div>

                    <div class="col-md-6">
                        @Html.LabelFor(m => m.Telephone, new { @class = " control-label" })

                        <div class="input-group">
                            <span class="input-group-addon" id="phone"><span class="glyphicon glyphicon-earphone"></span></span>
                            @Html.TextBoxFor(m => m.Telephone, new { @class = "form-control", @placeholder = "07123456789", @ariaDescribedBy = "phone" })
                        </div>
                    </div>
                </div>
            </div>

            <h3 class="panel-title PanelHeader">Password</h3>
            <div>
                <div class="form-group">

                    <div class="col-md-6">
                        @Html.LabelFor(m => m.Password, new { @class = " control-label" })

                        <div class="input-group">
                            <span class="input-group-addon" id="lock1"><span class="glyphicon glyphicon-lock"></span></span>
                            @Html.TextBoxFor(m => m.Password, new { @type = "password", @class = "form-control", @placeholder = "Password", @aria_describedby = "lock1", @style = "height:34px;" })
                        </div>
                    </div>

                    <div class="col-md-6">
                        @Html.LabelFor(m => m.ConfirmPassword, new { @class = " control-label" })

                        <div class="input-group">
                            <span class="input-group-addon" id="lock2"><span class="glyphicon glyphicon-lock"></span></span>
                            @Html.TextBoxFor(m => m.ConfirmPassword, new { @type = "password", @class = "form-control", @placeholder = "Repeat Password", @aria_describedby = "lock2", @style = "height:34px;" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr />

        <div class="form-group">
            <div class="col-md-offset-9">
                <input type="submit" class="btn btn-primary btn-lg btn-block" value="Register" />
            </div>
        </div>
    }
</div>



@section scripts
{
    <script type="text/javascript">

        $(document).ready(function () {

            $("#accordion").accordion({
                heightStyle: "content",
                icons: { header: "ui-icon-circle-arrow-e", activeHeader: "ui-icon-circle-arrow-s" }
            });
        });

    </script>
}

<style>
    .PanelHeader {
        font-size: larger !important;
        /*text-align: center;*/
        text-decoration: underline;
    }
</style>

@*<h3 class="panel-title PanelHeader">Address Details</h3>
    <div>
        <div class="form-group">
            <div class="form-group">
                <div class="col-md-2">
                    @Html.LabelFor(m => m.Line1, new { @class = " control-label" })
                </div>
                <div class="col-md-4">
                    @Html.TextBoxFor(m => m.Line1, new { @class = "form-control" })
                </div>

                <div class="col-md-2">
                    @Html.LabelFor(m => m.Town, new { @class = "control-label" })
                </div>
                <div class="col-md-4">
                    @Html.TextBoxFor(m => m.Town, new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-2">
                    @Html.LabelFor(m => m.Line2, new { @class = " control-label" })
                </div>
                <div class="col-md-4">
                    @Html.TextBoxFor(m => m.Line2, new { @class = "form-control" })
                </div>

                <div class="col-md-2">
                    @Html.LabelFor(m => m.City, new { @class = "control-label" })
                </div>
                <div class="col-md-4">
                    @Html.TextBoxFor(m => m.City, new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-2">
                    @Html.LabelFor(m => m.Line3, new { @class = " control-label" })
                </div>
                <div class="col-md-4">
                    @Html.TextBoxFor(m => m.Line3, new { @class = "form-control" })
                </div>

                <div class="col-md-2">
                    @Html.LabelFor(m => m.County, new { @class = "control-label" })
                </div>
                <div class="col-md-4">
                    @Html.TextBoxFor(m => m.County, new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-2">
                    @Html.LabelFor(m => m.Postcode, new { @class = " control-label" })
                </div>
                <div class="col-md-4">
                    @Html.TextBoxFor(m => m.Postcode, new { @class = "form-control" })
                </div>

                <div class="col-md-2">
                    @Html.LabelFor(m => m.Country, new { @class = "control-label" })
                </div>
                <div class="col-md-4">
                    @Html.TextBoxFor(m => m.Country, new { @class = "form-control" })
                </div>
            </div>
        </div>
    </div>*@